<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">

            <div class="box-header">
                <div class="row">
                    <div class="col-xs-12 col-md-9">
                        <h3>
                            <i class="fa fa-hdd-o"></i> {{data.hoststatus.hostname}}'s details
                        </h3>
                    </div>

                    <div class="col-xs-12 col-md-3 text-right">
                        <span class="text-info">
                            Cluster node: {{data.hoststatus.node_name}}
                        </span>
                    </div>
                </div>
            </div>


            <div class="box-body">

                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-8">
                        <div class="shield">
                            <div class="shield-label">Node</div>
                            <div class="shield-status shield-host-{{data.hoststatus.current_state}}">
                                {{ data.hoststatus.current_state |statusNameByStatusCodeHost }}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 col-md-4">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-history"></i>
                                History
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a ng-if="data.hoststatus.hostname"
                                       ui-sref="nodechecks({'nodename':'{{ data.hoststatus.hostname |encodeURI }}'})">
                                        <i class="fa fa-ellipsis-h"></i> Executed checks
                                    </a>
                                </li>
                                <li>
                                    <a ng-if="data.hoststatus.hostname"
                                       ui-sref="nodestatechanges({'nodename':'{{ data.hoststatus.hostname|encodeURI }}'})">
                                        <i class="fa fa-retweet"></i> State changes
                                    </a>
                                </li>
                                <li>
                                    <a ng-if="data.hoststatus.hostname"
                                       ui-sref="nodenotifications({'nodename':'{{ data.hoststatus.hostname | encodeURI }}'})">
                                        <i class="fa fa-envelope-o"></i> Sent notifications
                                    </a>
                                </li>
                                <li>
                                    <a ng-if="data.hoststatus.hostname"
                                       ui-sref="nodeacknowledgements({'nodename':'{{ data.hoststatus.hostname |encodeURI }}'})">
                                        <i class="fa fa-commenting-o"></i> Acknowledgements
                                    </a>
                                </li>

                            </ul>
                        </div>

                        <div class="btn-group" role="group" ng-show="isAllowedToSubmitCommand">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-terminal"></i>
                                Commands
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-click="sendCommand('reschedule')">
                                    <label class="pointer"><i class="fa fa-refresh"></i> Reschedule node</label>
                                </li>
                                <li ng-click="sendCommand('reschedule_all')">
                                    <label class="pointer"><i class="fa fa-refresh"></i> Reschedule node &
                                        services</label>
                                </li>

                                <li class="divider"></li>
                                <li ng-click="submitPassiveCheckResult()"><label><i class="fa fa-arrow-down"></i> Submit
                                    passive check result</label></li>
                                <li ng-click="sendCustomHostNotification()"><label><i class="fa fa-envelope"></i> Send
                                    custom notification</label></li>
                                <li ng-click="submitHostDowntime()">
                                    <label><i class="fa fa-plug"></i> Schedule downtime</label>
                                </li>
                                <li ng-click="submitHostAcknowledgement()" ng-if="data.hoststatus.current_state > 0">
                                    <label><i class="fa fa-commenting-o"></i>Acknowledge issue</label></li>

                            </ul>
                        </div>

                        <external-urls
                                data="data.hoststatus"
                                external-urls="external_urls"
                                ng-if="data.hoststatus.hostname"></external-urls>

                    </div>

                    <div class="col-xs-12">
                        <hr/>
                    </div>

                    <div class="col-xs-12"
                         ng-show="data.hoststatus.is_flapping">
                        <div class="callout callout-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <h4><i class="fa fa-adjust"></i> State is flapping</h4>
                            <p>
                                The state of this node is flapping. This means that the node changed it's hard state to
                                often in a particular time.
                            </p>
                        </div>
                    </div>

                    <div class="col-xs-12"
                         ng-show="data.hoststatus.problem_has_been_acknowledged && acknowledgementData">
                        <div class="callout callout-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <h4><i class="fa fa-commenting-o"></i> Issue acknowledged</h4>
                            <p>This issue was acknowledged by <b>{{ acknowledgementData.author_name }}</b> at <b>{{
                                acknowledgementData.entry_time * 1000 | date:'HH:mm dd.MM.yyyy' }}</b></p>
                            <div class="well well-sm text-navy">
                                {{ acknowledgementData.comment_data }}
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12"
                         ng-show="data.hoststatus.scheduled_downtime_depth > 0 && downtimeData">
                        <div class="callout callout-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <h4><i class="fa fa-plug"></i> Node is in a scheduled downtime</h4>
                            <p>
                                The downtime is scheduled from
                                <b>{{ downtimeData.scheduled_start_time * 1000 | date:'HH:mm dd.MM.yyyy' }}</b>
                                to
                                <b>{{ downtimeData.scheduled_end_time * 1000 | date:'HH:mm dd.MM.yyyy' }}</b>
                                by
                                <b>{{ downtimeData.author_name }}</b>
                            </p>
                            <div class="well well-sm text-navy">
                                {{ downtimeData.comment_data }}
                            </div>
                            <div class="row" ng-if="isAllowedToSubmitCommand">
                                <div class="hidden-xs hidden-sm col-md-8 col-lg-10 "></div>
                                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
                                    <button type="button"
                                            class="btn btn-block btn-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}"
                                            ng-click="submitDeleteDowntime(downtimeData.internal_downtime_id)">
                                        Cancel downtime
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-xs-12 col-md-6">
                        <div class="box box-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <div class="box-header">
                                <h3 class="box-title">Status information</h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Current state</dt>
                                    <dd>{{ data.hoststatus.current_state | statusNameByStatusCodeHost}}</dd>
                                    <dt>State type</dt>
                                    <dd>{{ data.hoststatus.is_hardstate | stateType }}
                                        ({{data.hoststatus.current_check_attempt}}/{{data.hoststatus.max_check_attempts}})
                                    </dd>
                                    <dt>Last status update</dt>
                                    <dd>{{ data.hoststatus.status_update_time * 1000 | date:'HH:mm dd.MM.yyyy' }}</dd>
                                    <dt>Last state change</dt>
                                    <dd>{{ data.hoststatus.last_state_change * 1000 | date:'HH:mm dd.MM.yyyy' }}</dd>
                                    <dt>Output</dt>
                                    <dd><samp>{{data.hoststatus.output}}</samp></dd>
                                    <dt>Performance data</dt>
                                    <dd><samp>{{data.hoststatus.perfdata}}</samp></dd>
                                    <dt>Last check</dt>
                                    <dd>{{ data.hoststatus.last_check * 1000 | date:'HH:mm dd.MM.yyyy' }}</dd>
                                    <dt>Next check</dt>
                                    <dd>{{ data.hoststatus.next_check * 1000 | date:'HH:mm dd.MM.yyyy' }}</dd>
                                    <dt>Check interval</dt>
                                    <dd>{{data.hoststatus.normal_check_interval}}</dd>
                                    <dt>Check period</dt>
                                    <dd>{{data.hoststatus.check_timeperiod}}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">
                        <div class="box box-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <div class="box-header">
                                <h3 class="box-title">Configuration information</h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Notifications</dt>
                                    <dd><span class="label label-danger pointer" ng-click="sendCommand('notifications')"
                                              ng-class="{'label-success':data.hoststatus.notifications_enabled}">{{ data.hoststatus.notifications_enabled | configEnabled }}</span>
                                    </dd>
                                    <dt>Active checks</dt>
                                    <dd><span class="label label-danger pointer" ng-click="sendCommand('activeChecks')"
                                              ng-class="{'label-success':data.hoststatus.active_checks_enabled}">{{ data.hoststatus.active_checks_enabled | configEnabled }}</span>
                                    </dd>
                                    <dt>Passive checks</dt>
                                    <dd><span class="label label-danger pointer" ng-click="sendCommand('passiveChecks')"
                                              ng-class="{'label-success':data.hoststatus.passive_checks_enabled}">{{ data.hoststatus.passive_checks_enabled | configEnabled }}</span>
                                    </dd>
                                    <dt>Flap detection</dt>
                                    <dd><span class="label label-danger pointer"
                                              ng-click="sendCommand('flappDetection')"
                                              ng-class="{'label-success':data.hoststatus.flap_detection_enabled}">{{ data.hoststatus.flap_detection_enabled | configEnabled }}</span>
                                    </dd>
                                    <dt>Event handler</dt>
                                    <dd><span class="label label-danger pointer" ng-click="sendCommand('eventHandler')"
                                              ng-class="{'label-success':data.hoststatus.event_handler_enabled}">{{ data.hoststatus.event_handler_enabled | configEnabled }}</span>
                                    </dd>
                                </dl>
                                <div class="well-sm">
                                    <div class="text-info" ng-show="isAllowedToSubmitCommand">
                                        <i class="fa fa-info-circle"></i> Click on the <span class="label label-info">label</span>
                                        to trigger a temporary configuration change.
                                        <br/>
                                        Due to clustering it can take up to 30 seconds until you see the result, don't
                                        panic :)
                                    </div>
                                    <div class="text-info" ng-hide="isAllowedToSubmitCommand">
                                        <i class="fa fa-info-circle"></i>
                                        Sending commands is disabled for anonymous users
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" ng-if="data.hoststatus.long_output">
                    <div class="col-xs-12">
                        <div class="box box-{{ data.hoststatus.current_state | bootstrapClassStatusCodeHost }}">
                            <div class="box-header">
                                <h3 class="box-title">Long node output</h3>
                            </div>
                            <div class="box-body">
                                <div class="well">
                                    {{ data.hoststatus.long_output }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h3 class="box-title"><i class="fa fa-cogs"></i> Services</h3>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="input-group input-group">
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown"
                                                        aria-expanded="false">By state
                                                    <span class="fa fa-caret-down"></span></button>
                                                <ul class="dropdown-menu">
                                                    <li><label><input type="checkbox" ng-model="state_filter[0]"
                                                                      ng-true-value="'ok'"/>
                                                        Ok</label></li>
                                                    <li><label><input type="checkbox" ng-model="state_filter[1]"
                                                                      ng-true-value="'warning'"/>
                                                        Warning</label></li>
                                                    <li><label><input type="checkbox" ng-model="state_filter[2]"
                                                                      ng-true-value="'critical'"/> Critical</label></li>
                                                    <li><label><input type="checkbox" ng-model="state_filter[3]"
                                                                      ng-true-value="'unknown'"/> Unknown</label></li>
                                                </ul>
                                            </div>
                                            <input type="text" class="form-control" ng-model="servicedescription__like"
                                                   ng-model-options="{debounce: 500}"
                                                   placeholder="Type to search by service description...">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4 hidden-xs text-bold">Service description</div>
                                    <div class="col-sm-2 hidden-xs text-bold">Last check</div>
                                    <div class="col-sm-2 hidden-xs text-bold">State since</div>
                                    <div class="col-sm-4 hidden-xs text-bold">Output</div>
                                </div>

                                <div ng-repeat="service in data.servicestatus track by $index">
                                    <div class="col-xs-12 no-padding row-hover" ng-class="{ 'row-even':$even }">

                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg shield-mobile shield-service-{{ service.current_state }}">
                                            <a ui-sref="servicedetails({'nodename':'{{ data.hoststatus.hostname | encodeURI }}', 'servicedescription':'{{ service.service_description | encodeURI }}'})">
                                                {{ service.service_description }}
                                            </a>

                                            <small class="label bg-purple" title="Issue has been acknowledged"
                                                   ng-show="service.problem_has_been_acknowledged">
                                                <i class="fa fa-commenting-o"></i>
                                            </small>

                                            <small class="label bg-purple" title="Scheduled downtime is running"
                                                   ng-class="{'fix-downtime-icon': service.problem_has_been_acknowledged}"
                                                   ng-show="service.scheduled_downtime_depth > 0">
                                                <i class="fa fa-plug"></i>
                                            </small>

                                            <small class="label bg-purple" title="State of service is flapping"
                                                   ng-class="{'fix-downtime-icon': service.problem_has_been_acknowledged || service.scheduled_downtime_depth}"
                                                   ng-show="service.is_flapping">
                                                <i class="fa fa-adjust"></i>
                                            </small>

                                        </div>


                                        <div class="hidden-xs col-sm-4">
                                            <servicestatuspill servicestatus="service"></servicestatuspill>

                                            <a ui-sref="servicedetails({'nodename':'{{ data.hoststatus.hostname | encodeURI }}', 'servicedescription':'{{ service.service_description | encodeURI }}'})">
                                                {{ service.service_description }}
                                            </a>

                                            <small class="label bg-purple" title="Issue has been acknowledged"
                                                   ng-show="service.problem_has_been_acknowledged">
                                                <i class="fa fa-commenting-o"></i>
                                            </small>

                                            <small class="label bg-purple" title="Scheduled downtime is running"
                                                   ng-class="{'fix-downtime-icon': service.problem_has_been_acknowledged}"
                                                   ng-show="service.scheduled_downtime_depth > 0">
                                                <i class="fa fa-plug"></i>
                                            </small>

                                            <small class="label bg-purple" title="State of service is flapping"
                                                   ng-class="{'fix-downtime-icon': service.problem_has_been_acknowledged || service.scheduled_downtime_depth}"
                                                   ng-show="service.is_flapping">
                                                <i class="fa fa-adjust"></i>
                                            </small>

                                        </div>

                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                            Last check:
                                        </div>
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                            {{ service.last_check * 1000 | date:'HH:mm dd.MM.yyyy' }}
                                        </div>
                                        <div class="hidden-xs col-sm-2">
                                            {{ service.last_check * 1000 | date:'HH:mm dd.MM.yyyy' }}
                                        </div>

                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                            State since:
                                        </div>
                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                            {{ service.last_state_change * 1000 | date:'HH:mm dd.MM.yyyy' }}
                                        </div>
                                        <div class="hidden-xs col-sm-2">
                                            {{ service.last_state_change * 1000 | date:'HH:mm dd.MM.yyyy' }}
                                        </div>

                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                            Output:
                                        </div>
                                        <div class="col-xs-12 col-sm-4">
                                            {{ service.output }}
                                        </div>

                                        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                            &nbsp;
                                        </div>


                                    </div>
                                </div> <!-- end foreach services -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-warning" id="host-not-found-modal">
    <div class="modal-dialog" id="host-not-found-modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title text-center">
                    <i class="fa fa-exclamation-triangle"></i> Node status not found in database :(
                </h4>
            </div>
            <div class="modal-body">
                <p>Unfortunately there are no status information in the database for this node.</p>
                <p>Typically this is due to one of the following reasons:</p>
                <p>
                <ul>
                    <li>The node was not checked by the monitoring engine so far</li>
                    <li>The node was deleted</li>
                    <li>You have made a typo in browser's address bar</li>
                    <li>The Statusengine Worker node was restarted</li>
                    <li>The Statusengine Worker node is down</li>
                    <li>You're Sysadmin is playing around</li>
                </ul>
                </p>
                <p>This message will disappear automatically as soon as the node was found in the database</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





