<div infinite-scroll="loadMoreScheduledDowntimesOnScroll()" infinite-scroll-disabled="apiIsBusyOrNoDataAnymore"
     infinite-scroll-distance="0">

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">

                <div class="box-header">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3 class="pull-left">
                                <i class="fa fa-plug"></i> Upcoming downtimes
                            </h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12"
                     ng-class="{ 'col-md-6': object_type=='host', 'col-md-6': object_type=='service' }">
                    <div class="input-group input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">Node/Service
                                <span class="fa fa-caret-down"></span></button>
                            <ul class="dropdown-menu">


                                <li>

                                    <label>
                                        <input type="radio" ng-model="object_type"
                                               name="object_type"
                                               value="host"
                                               ng-model-options="{debounce: 500}"/>
                                        Nodes
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="radio" ng-model="object_type"
                                               name="object_type"
                                               value="service"
                                               ng-model-options="{debounce: 500}"/>
                                        Services
                                    </label>
                                </li>


                                <li class="divider"></li>
                                <li ng-repeat="nodeName in clusterNodes track by $index">
                                    <label><input type="checkbox" ng-model="cluster_filter[$index]"
                                                  ng-false-value="''" ng-true-value="'{{ nodeName.node_name }}'"
                                                  ng-model-options="{debounce: 500}"/>
                                        {{ nodeName.node_name }}</label>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="form-control" ng-model="hostname__like"
                               ng-model-options="{debounce: 500}"
                               placeholder="Type to search by node name...">
                    </div>
                </div>

                <div class="col-xs-12 col-md-6" ng-show="object_type=='service'">
                    <input type="text" class="form-control" ng-model="servicedescription__like"
                           ng-model-options="{debounce: 500}" placeholder="Type to search by service description..."/>
                </div>

                <hr/>

                <div class="box-body">

                    <div class="row">
                        <div class="col-sm-3 hidden-xs text-bold">Node / Service</div>
                        <div class="col-sm-2 hidden-xs text-bold">Start time</div>
                        <div class="col-sm-2 hidden-xs text-bold">End time</div>
                        <div class="col-sm-1 hidden-xs text-bold">Author</div>
                        <div class="col-sm-3 hidden-xs text-bold">Comment</div>
                        <div class="col-sm-1 hidden-xs text-bold">Cancel</div>
                    </div>

                    <div class="col-xs-12 no-padding" ng-repeat="scheduleddowntime in data">
                        <div class="col-xs-12 no-padding row-hover" ng-class="{ 'row-even':$even }">

                            <div class="col-sm-3 hidden-xs">
                                <i class="fa fa-circle text-green" ng-show="scheduleddowntime.was_started"
                                   title="Downtime currently running"></i>
                                <i class="fa fa-circle-o text-red" title="Downtime not started yet"
                                   ng-show="!scheduleddowntime.was_started"></i>

                                <a ui-sref="nodedetails({'nodename':'{{ scheduleddowntime.hostname | encodeURI }}'})">
                                    {{ scheduleddowntime.hostname }}
                                </a>
                                <span ng-if="object_type=='service'">
                                    /
                                    <a ui-sref="servicedetails({'nodename':'{{ scheduleddowntime.hostname | encodeURI }}', 'servicedescription':'{{ scheduleddowntime.service_description | encodeURI }}'})">
                                        {{ scheduleddowntime.service_description }}
                                    </a>
                                </span>
                            </div>

                            <div class="col-sm-2 hidden-xs">
                                {{scheduleddowntime.scheduled_start_time * 1000 | date:'HH:mm dd.MM.yyyy'}}
                            </div>

                            <div class="col-sm-2 hidden-xs">
                                {{scheduleddowntime.scheduled_end_time * 1000 | date:'HH:mm dd.MM.yyyy'}}
                            </div>

                            <div class="col-sm-1 hidden-xs">
                                {{scheduleddowntime.author_name }}
                            </div>

                            <div class="col-sm-3 hidden-xs">
                                {{scheduleddowntime.comment_data }}
                            </div>

                            <div class="col-sm-1 hidden-xs">
                                <button class="btn btn-block btn-xs btn-default"
                                        ng-show="isAllowedToSubmitCommand"
                                        ng-class="{ 'btn-danger':scheduleddowntime.was_started }"
                                        ng-click="submitDeleteDowntime(scheduleddowntime.internal_downtime_id, scheduleddowntime.node_name)">
                                    Cancel
                                </button>
                            </div>

                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg shield-mobile shield-info">
                                <i class="fa fa-plug"></i>&nbsp
                                <i class="fa fa-circle text-green" ng-show="scheduleddowntime.was_started"
                                   title="Downtime currently running"></i>
                                <i class="fa fa-circle-o text-red" title="Downtime not started yet"
                                   ng-show="!scheduleddowntime.was_started"></i>
                                <a ui-sref="nodedetails({'nodename':'{{ scheduleddowntime.hostname | encodeURI }}'})">
                                    {{ scheduleddowntime.hostname }}
                                </a>
                                <span ng-if="object_type=='service'">
                                    /
                                    <a ui-sref="servicedetails({'nodename':'{{ scheduleddowntime.hostname | encodeURI }}', 'servicedescription':'{{ scheduleddowntime.service_description | encodeURI }}'})">
                                        {{ scheduleddowntime.service_description }}
                                    </a>
                                </span>
                            </div>


                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                Time span:
                            </div>
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                {{scheduleddowntime.scheduled_start_time * 1000 | date:'HH:mm dd.MM.yyyy'}}
                                <i class="fa fa-arrow-right"></i>
                                {{scheduleddowntime.scheduled_end_time * 1000 | date:'HH:mm dd.MM.yyyy'}}
                            </div>


                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                Author:
                            </div>
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                {{scheduleddowntime.author_name }}
                            </div>

                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-bold">
                                Comment:
                            </div>
                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                {{scheduleddowntime.comment_data }}
                            </div>

                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                <button class="btn btn-block btn-xs btn-default"
                                        ng-show="isAllowedToSubmitCommand"
                                        ng-class="{ 'btn-danger':scheduleddowntime.was_started }"
                                        ng-click="submitDeleteDowntime(scheduleddowntime.internal_downtime_id, scheduleddowntime.node_name)">
                                    Cancel
                                </button>
                            </div>


                            <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
                                &nbsp;
                            </div>


                        </div>
                    </div>

                    <div class="col-xs-12 text-yellow text-center text-bold" ng-show="loading">
                        <i class="fa fa-refresh fa-spin"></i> Loading more records, standby...
                    </div>

                    <div class="col-xs-12 text-info text-center text-bold" ng-show="!moreDataAvailable">
                        <i class="fa fa-info-circle"></i> No more records available
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
