<a class="dropdown-toggle" data-toggle="dropdown">
    <span><i class="fa fa-cog"></i> Settings</span>
</a>

<ul class="dropdown-menu">
    <li>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 padding-top-10"></div>

                <div class="col-xs-12 text-center">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="do_auto_reload"> Auto refresh
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 text-center">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="ack_and_downtime_is_ok">
                                Acknowledge and in Downtime hidden in Menu and Dashboard
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="user-footer">
        <div class="pull-right">
            <a href="javascript:void(0)" ng-click="logout()" class="btn btn-default btn-flat" ng-if="isLoggedIn">
                <i class="fa fa-sign-out"></i> Sign out
            </a>
            <a href="javascript:void(0)" ng-click="login()" class="btn btn-default btn-flat" ng-if="!isLoggedIn">
                <i class="fa fa-sign-in"></i> Sign in
            </a>
        </div>
    </li>
</ul>
